html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous")
    link(href="/styles/base.css" rel="stylesheet")
    link(href="/styles/" + chargingPoint.hotel.identifier + ".css" rel="stylesheet")
    script(src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js")
    script(src="/js/map.js")
    script.
      document.addEventListener('DOMContentLoaded', function(event) {
        setChargingPoint({
          evseId: "#{chargingPoint.evseId}",
          latitude: #{chargingPoint.latitude},
          longitude: #{chargingPoint.longitude}
        });
      });

    title= chargingPoint.hotel.title
    body
      nav.navbar
        .container
          a.navbar-brand(href="#")
            img.d-inline-block-align-top(src="/images/" + chargingPoint.hotel.identifier + ".png" alt="" width="32" height="32")
            = chargingPoint.hotel.title

      #map

      .container
        h1 Charge. Pay. Done.
          |
          |
          span.wirelane by Wirelane

        p
          | Easily charge your car for
          |
          strong €#{chargingPoint.price}/kWh without starting fee
          | . The charges will occur on your hotel invoice upon checkout.

        .alert.alert-danger(role="alert")
          | The entered reservation number could not be found.
          | If you need assistance or feel this is a mistake, please
          |
          a.alert-link(href="tel:" + chargingPoint.hotel.phone) call #{chargingPoint.hotel.phone}
          | .

        form(action="/evseId/" + chargingPoint.evseId + "/start" method="POST")
          .mb-3
            label.form-label(for="inputBookingNumber") Booking Number
            input#inputBookingNumber.form-control(name="bookingNumber" aria-describedby="bookingNumberHelp")
            #bookingNumberHelp.form-text Your booking number or reservation number.

          .mb-3.form-check
            input#tocCheck.form-check-input(type="checkbox" name="acceptedConditions")
            label.form-check-label(for="tocCheck")
              | I accept the
              |
              a(href=chargingPoint.hotel.termsAndConditionsUrl target="_blank") Terms and Conditions
              |
              | and the
              |
              a(href=chargingPoint.hotel.dataPrivacyUrl target="_blank") Data Privacy Agreement
              | .

          button.btn.btn-primary(type="submit") Start Charging
